<div class="container mt-5">

<table class="table table-bordered table-hover">

  <tbody>
    <tr>
      <td class="col-2">Name</td>
      <td class="col-4">{{data.name}}</td>
    </tr>
    <tr>
      <td class="col-2">Gender</td>
      <td class="col-4">{{data.gender}}</td>
    </tr>
    <tr>
      <td class="col-2">Fathername</td>
      <td class="col-4">{{data.fathername}}</td>
    </tr>
    <tr>
      <td class="col-2">Mothername</td>
      <td class="col-4">{{data.mothername}}</td>
    </tr>
    <tr>
      <td class="col-2">Minority</td>
      <td class="col-4">{{data.minority}}</td>
    </tr>
    <tr>
      <td class="col-2">Email</td>
      <td class="col-4">{{data.email}}</td>
    </tr>
    <tr>
      <td class="col-2">Mobile</td>
      <td class="col-4">{{data.mobile}}</td>
    </tr>
    <tr>
      <td class="col-2">Nationality</td>
      <td class="col-4">{{data.nationality}}</td>
    </tr>
    <tr>
      <td class="col-2">Maritalstatus</td>
      <td class="col-4">{{data.maritalstatus}}</td>
    </tr>
    <tr>
      <td class="col-2">Community</td>
      <td class="col-4">{{data.community}}</td>
    </tr>
    <tr>
      <td class="col-2">Address</td>
      <td class="col-4">{{data.address}}</td>
    </tr>
    <tr>
      <td class="col-2">Education</td>
      <td class="col-4">{{data.education}}</td>
    </tr>
    <tr>
      <td class="col-2">Degree Subject in Graduation</td>
      <td class="col-4">{{data.degreesubjectingraduation}}</td>
    </tr>
    <tr>
      <td class="col-2">Percentage at graduation level</td>
      <td class="col-4">{{data.graduationpercentage}}</td>
    </tr>
    <tr>
      <td class="col-2">Examination Details</td>
      <td class="col-4">{{data.examinationyouliketobeconsidered}}</td>
    </tr>
    <tr>
      <td class="col-2">Number of Attempts already made in Civil Services</td>
      <td class="col-4">{{data.numberofattempts}}</td>
    </tr>
    <tr>
      <td class="col-2">Language medium for Examination for paper 1 to paper 5</td>
      <td class="col-4">{{data.languagemediumforexaminationforpaper1topaper5}}</td>
    </tr>
    <tr>
      <td class="col-2">Language medium for Examination for paper 6 and paper 7</td>
      <td class="col-4">{{data.languagemediumforexaminationforpaper6andpaper7}}</td>
    </tr>
    <tr>
      <td class="col-2">Do you hail from Arunachal Pradesh/Manipur/Meghalaya</td>
      <td class="col-4">{{data.doyouhailfromArunachalPradeshManipur}}</td>
    </tr>
  </tbody>
</table>
</div>  